.map__wrap-location-ukr-map-points-kramatorsk {
    position: absolute;
    top: 183px;
    left: 443px;
    cursor: pointer;
}

.map__wrap-location-ukr-map-about-kramatorsk {
    background-image: url(../images/map/Union.svg);
    background-repeat: no-repeat;
    height: 176px;
    width: 270px;
    position: absolute;
    top: 211px;
    left: 435px;
    display: none;

}

.map__wrap-location-ukr-map-about-content {
    text-align: center;
    position: relative;
    top: 40px;
    left: 15px;
    
    & h2 {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
    }

    & p {
        margin-bottom: 1px;
    }

    & a {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
    }

    & span {
        border-bottom: 1px solid #fff;
    }
}

.map__wrap-location-ukr-map-points-severodonetsk {
    position: absolute;
    top: 157px;
    left: 481px;
    cursor: pointer;
}

.map__wrap-location-ukr-map-about-severodonetsk {
    background-image: url(../images/map/Union.svg);
    background-repeat: no-repeat;
    height: 176px;
    width: 270px;
    position: absolute;
    top: 183px;
    left: 473px;
    display: none;
}

.map__wrap-location-ukr-map-points-dnieper {
    position: absolute;
    top: 195px;
    left: 354px;
    cursor: pointer;
}

.map__wrap-location-ukr-map-about-dnieper {
    background-image: url(../images/map/Union.svg);
    background-repeat: no-repeat;
    height: 176px;
    width: 270px;
    position: absolute;
    top: 225px;
    left: 346px;
    display: none;
}

.map__wrap-location-ukr-map-points-kremenchuk {
    position: absolute;
    top: 153px;
    left: 289px;
    cursor: pointer;
}

.map__wrap-location-ukr-map-about-kremenchuk {
    background-image: url(../images/map/Union.svg);
    background-repeat: no-repeat;
    height: 176px;
    width: 270px;
    position: absolute;
    top: 187px;
    left: 281px;
    display: none;
}

.map__wrap-location-ukr-map-points-kiev {
    position: absolute;
    top: 78px;
    left: 240px;
    cursor: pointer;
}

.map__wrap-location-kiev-map-points-mayakovsky {
    position: absolute;
    top: 120px;
    left: 273px;
    cursor: pointer;
}

.map__wrap-location-kiev-map-about-mayakovsky {
    background-image: url(../images/map/Union-Up.svg);
    background-repeat: no-repeat;
    height: 176px;
    width: 270px;
    position: absolute;
    top: -59px;
    left: 263px;
    display: none;

}

.map__wrap-location-kiev-map-about-content-mayakovsky {
    text-align: center;
    position: relative;
    top: 25px;
    left: 15px;
    
    & h2 {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
    }

    & p {
        margin-bottom: 1px;
    }

    & a {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
    }

    & span {
        border-bottom: 1px solid #fff;
    }
}

.map__wrap-location-kiev-map-points-builders {
    position: absolute;
    top: 183px;
    left: 320px;
    cursor: pointer;
}

.map__wrap-location-kiev-map-about-builders {
    background-image: url(../images/map/Union-Up.svg);
    background-repeat: no-repeat;
    height: 176px;
    width: 270px;
    position: absolute;
    top: 3px;
    left: 312px;
    display: none;

}

.map__wrap-location-kiev-map-about-content-builders {
    text-align: center;
    position: relative;
    top: 25px;
    left: 15px;
    
    & h2 {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
    }

    & p {
        margin-bottom: 1px;
    }

    & a {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
    }

    & span {
        border-bottom: 1px solid #fff;
    }
}

.map__wrap-location-kiev-map-points-revutsky {
    position: absolute;
    top: 239px;
    left: 336px;
    cursor: pointer;
}

.map__wrap-location-kiev-map-about-revutsky {
    background-image: url(../images/map/Union.svg);
    background-repeat: no-repeat;
    height: 176px;
    width: 270px;
    position: absolute;
    top: 269px;
    left: 329px;
    display: none;

}

.map__wrap-location-kiev-map-about-content {
    text-align: center;
    position: relative;
    top: 40px;
    left: 15px;
    
    & h2 {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
    }

    & p {
        margin-bottom: 1px;
    }

    & a {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
    }

    & span {
        border-bottom: 1px solid #fff;
    }
}

.map__wrap-location-kiev-map-points-akhmatova {
    position: absolute;
    top: 224px;
    left: 284px;
    cursor: pointer;
}

.map__wrap-location-kiev-map-about-akhmatova {
    background-image: url(../images/map/Union.svg);
    background-repeat: no-repeat;
    height: 176px;
    width: 270px;
    position: absolute;
    top: 252px;
    left: 276px;
    display: none;

}

.map__wrap-location-kiev-map-points-lomonosov {
    position: absolute;
    top: 224px;
    left: 195px;
    cursor: pointer;
}

.map__wrap-location-kiev-map-about-lomonosov {
    background-image: url(../images/map/Union.svg);
    background-repeat: no-repeat;
    height: 176px;
    width: 270px;
    position: absolute;
    top: 252px;
    left: 188px;
    display: none;

}
 